.main-container {
    display: grid;
    grid-template-columns: 15% auto;
    .side-nav {
        border-right: 1px black;
        background-color: #F9FAFA;
        height: 100vh;
        .container {
            padding-top: 30px;
            nav {
                margin-top: 30px;
                .nav-link {
                    margin-top: 10px;
                }
            }
        }
    }
    .container {
        padding-top: 30px;
        .list-group-item {
            border-right: none;
            border-left: none;
        }
        .list-group {
            border-right: none;
        }
        .nav {
            a {
                color: black;
            }
        }
        .secondary {
            background-color: white;
            border: none;
        }
        .primary {
            background-color: #EDF0F4;
            border: none;
            color: black;
            margin-left: 10px;
        }
    }
}

.is-complete {
    opacity: 0.6;
    text-decoration: line-through;
    background: #d1d1d1;
}