
   <div class="sidenav container">
     <img src="assets/images/kummit_logo.svg">
     <nav class="nav flex-column">
        <a class="nav-link"><img src="assets/images/ic_tasks.svg"> My Tasks</a>
       
        <a class="nav-link">Projects</a>
       
        <a class="nav-link">Calendar</a>

     </nav>
     
   </div>

 