<li class="list-group-item">
  <div class="d-flex">
    <h5 class="card-title flex-fill">
      Task
    </h5>
    <div class="ml-auto">
      Actions
    </div>
  </div>
</li>
<ul class="list-group list-group-flush">
  {{#each @tasks as |task|}}
    <SingleTask @task={{task}} @pinTask={{fn (mut pinnedTask)}} />
  {{/each}}
</ul>
