<div class="main-container">
  <div class="side-nav">
    <SideNav />
  </div>

  <div class="container">
    <nav class="nav">
      <a class="nav-link active" href="#">All Tasks</a>
      <a class="nav-link" href="#">Completed Tasks</a>
    </nav>

      {{outlet}}

  </div>
</div>